* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    /* border: 1px solid red; */
}

#NavMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;


}

/* #Main>h1{
    border: 1px solid black;
    width: 150px;
    height: 100px;
} */
#Main1>img {
    /* margin-left: 20px; */
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 60px;

}

#Main1 {
    display: flex;
    width: 37%;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid yellow;
}

#Main1>ul {

    border: 1px solid red;
    width: 70%;
    list-style: none;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Main2 {
    display: flex;
    width: 390px;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid yellow;
}

#button1 {
    padding: 10px 20px;
    background-color: white;
    border: none;

}

#button2 {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid red;
    color: red;

}

#button1:hover {

    color: lightblue;
}

#button2:hover {
    background-color: red;
    color: white;
}

#KudiNav {
    display: none;
}

@media (max-width:700px) {

    #NavMain,
    #Main1,
    #Main2 {
        display: ;
    }

    #KudiNav {
        /* width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-between; */
    }

    #Kudi01 {
        /* border: 1px solid red;
        width: 20%;
        height: 150px;

        justify-content: space-evenly;
        align-items: center; */
    }

    #Kudi02 {
        /* border: 1px solid red;
        width: 40%;
        height: 150px;

        justify-content: space-evenly;
        align-items: center; */
    }

    #para1 {}




}
#section1{
    background-color: #F8F9FB;
    width: 100%;
    height: 900px;
    border: 1px solid black;
    display: flex;
  
   

}

#Sec1Div1{
    margin-left: 100px;
    padding-top: 70px;
    /* border: 1px solid red; */
    /* width: 50%; */
    height: 850px;
}
#Sec1Div2{
    border: 1px solid black;
    width: 50%;
    height: 600px;
}
#Button1{
    width: 200px;
    height: 40px;
    color: white;
    background-color: red;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    


}
#Sec1img1{
    width: 130%;
    height: 200px;
    margin-left: -120px;
}
#Sec1P1{
    font-size: 54px;
    font-weight: 400;
    line-height: 70px;
    color: rgb(1, 1, 1);
}
#Sec1P2{
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    color: rgb(51, 51, 51);
}
#Sec1Line{
    width: 30px;
    color: red;
}